{% extends "base.html" %}

{% block scripts %}
    <script type="text/javascript">

        var next_url = "";

        // Initial
        window.onload = function() {
            fetch('/api/posts')
                .then(function (response) {
                    return response.json()
                }).then(function (json) {
                    next_url = json.next;
                    render_news_list(json.results);
                }).catch(function (ex) {
                    console.log(ex);
                });
        }

        // Check news data list and render html
        function render_news_list(news_list) {
            if (!Array.isArray(news_list)) {
                news_list = [];
            }

            for (var i = 0; i < news_list.length; i++) {
                render_news_html(news_list[i]);
            }
        }

        // Render news html
        function render_news_html(news_data) {
            console.log(news_data);

            var div_news_list = document.getElementById("news_list");

            // Create card div container
            var container = document.createElement("div");
            container.classList.add("col-md-4");
            container.setAttribute("style", "padding-bottom: 15px;");
            var card = document.createElement("div");
            card.classList.add("card");
            // img 
            var card_img = document.createElement("img");
            card_img.classList.add("card-img-top");
            card_img.setAttribute("src", news_data.image_url);
            card_img.setAttribute("style", "height: 180px; width: 100%;");
            // Body
            var card_body = document.createElement("div");
            card_body.classList.add("card-body");
            // title
            var card_title = document.createElement("h5");
            card_title.classList.add("card-title");
            card_title.innerText = news_data.title;
            
            card.append(card_img);

            card_body.append(card_title);
            card.append(card_body);

            container.append(card);

            div_news_list.append(container);
        }

        function load_next_news_list() {
            alert("Waiting...");
        }

    </script>
{% endblock %}

{% block content %}
    <div class="row" id="news_list"></div>
    <div class="row">
        <div class="col-md-12">
            <button 
                type="button"
                class="btn btn-light btn-lg btn-block"
                onclick="load_next_news_list()">
                More
            </button>
        </div>
    </div>
{% endblock %}
